@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

body
{
    /* background-image: linear-gradient(to right top, #55bb9b, #0fb4ae, #00acc0, #00a1cd, #0094d3, #448dd6, #6a84d5, #897acd, #a474c9, #bc6ec1, #d266b6, #e560a6); */
    background-image: linear-gradient(to right top, #6f6bd1, #6d74d7, #6c7edc, #6b86e0, #6c8fe4, #5a99e9, #49a2eb, #38aaec, #00b4e7, #00bcdd, #02c3d0, #40c9c1);
}

hgroup
{
    justify-content: center;
}

header
{
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

header.bajar
{
    backdrop-filter: blur(15px);
    position: sticky;
    top:0;
    background: rgb(0 0 0 / 25%);
    padding: 10px 20px;
    z-index: 10;
}

section
{
    padding: 90px 0 40px 0;
    margin: 20px 0 30px 0;
}

hgroup
{
    text-align: center;
    margin: 10px 0 30px 0;
}

.home
{
    padding-top: 40px;
}

footer
{
    width: 60%;
    height: 200px;
    display: grid;
    justify-items: center;
    margin: 40px 20% 30px 20%;
}

.TF
{
    padding: 30px;
}

footer .Fimg
{
    height: 120px;
}

header .ImgLogo
{
    height: 60px;
}


header ul
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li
{
    list-style: none;
    margin-left: 20px;
}

header ul li a
{
    background: #fff;
    text-decoration: none;
    padding: 6px 15px;
    color: #162a43;
    border-radius: 20px;
}

header ul li a:hover
{
    background: #162a43;
    color: #fff;
}

/* home */

.contenidoYo
{
    text-align: center;
    width: 70%;
    margin: 10px 15% 0 15%;
}

.cta
{
    margin: 10px 0 25px 0;
}

.yo
{
    margin: 10px;
    border-radius: 50% 50% 50% 50% / 30% 30% 70% 70%;
    border: solid 2px #162a43;
}

.yo:hover
{
    box-shadow: 0 0 2rem 0.5rem rgb(0 0 0 / 35%);
}

/* presentacion */

.contenedorSobreMi
{
    width: 70%;
    margin-left: 15%;
    align-content: center;
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;
}

.sobreMi
{
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    background: linear-gradient(45deg, transparent, var(--color-primario), transparent);
    display: grid;
}

.sobreMi-image
{
    border-radius: 50% 50% 50% 50% / 70% 70% 30% 30%;
    overflow: hidden;
    border: solid 2px #162a43;
}

.sobreMi-image:hover
{
    transform: rotate(0);
    box-shadow: 0 0 2rem 0.5rem rgb(0 0 0 / 35%);
}

.sobreMiCartas
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.sobreCartas
{
    backdrop-filter: blur(15px);
    background: rgba(255, 255, 255, 0.25);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    display: grid;
    place-items: center;
}

.sobreCartas:hover{
    backdrop-filter: blur(15px);
    background: rgb(0 0 0 / 25%);
    cursor: default;
}

.icon{
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.sobreCartas h4{
    font-size: 0.95rem;
}

.sobreCartas small{
    font-size: 0.7rem;
    color: var(--color-ligero);
}

.sobreMiContenido p{
    margin: 2rem 0 2.6rem;
    text-align: justify;
}

/* skill */

.conteiner
{
    width: 70%;
    margin-left: 15%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.conteiner > div
{
    backdrop-filter: blur(15px);
    background: rgba(255, 255, 255, 0.25);
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transicion);
}

.conteiner > div:hover
{
    backdrop-filter: blur(15px);
    background: rgb(0 0 0 / 25%);
    border-color: var(--color-primario-variante);
}

.conteiner > div h3
{
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-primario);
}

.contenido{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
}

.detalles{
    display: flex;
    gap: 1rem;
}

.icon{
    margin-top: 6px;
    color: var(--color-primario);
}

.detalles small{
    margin-left: 0.5rem;
}

progress{
    width: 4.5rem;
}

/* proyect */

.apps
{
    display: flex;
    width: 70%;
    margin: 0 15% 0 15%;
    flex-direction: column;
}

.sitiosWeb, .desktop
{
    border: none; /*solid 2px #162a43;*/
    border-radius: 20px;
    margin: 20px 0 10px 0;
    backdrop-filter: blur(15px);
    background: rgb(255 255 255 / 25%);
}

.webs, .desk
{
    display: flex;
    gap: 0.2rem;
    margin: 10px;
    justify-content: center;
}

.sitio, .app
{
    display: flex;
    width: 70px;
    height: 450px;
    border: solid 2px #162a43;
    border-radius: 35px;
    overflow: hidden;
    flex-direction: column-reverse;
    align-items: center;
    padding: 0 10px 15px 10px;
}

.icono
{
    background: #fff;
    border-radius: 25px;
    width: 50px;
    height: 50px;
}

.sitio.active, .app.active
{
    display: grid;
    width: 800px;
    padding: 0 10px 15px 20px;
    grid-template-columns: 10% 90%;
    align-items: end;
    color: #fff;
}

.sitio .info, .app .info
{
    transform: translate(100px);
    height: 50px;
    backdrop-filter: blur(15px);
    background: rgb(0 0 0 / 25%);
    padding: 5px 0 0 20px;
    border-radius: 25px;
}

.sitio.active .info, .app.active .info
{
    transform: translate(0px);
}

/* .webs, .desk
{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    overflow: hidden;
    min-width: 600px;
    max-width: 900px;
    width: calc(100% - 100px);
    height: 400px;
}

.sitio, .app
{
    overflow: hidden;
    min-width: 60px;
    margin: 10px;
    background: var(--optionBackground, var(--defaultBackground, #E6E9ED));
    background-size: auto 120%;
    background-position: center;
    cursor: pointer;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

.sitio:nth-child(1), .app:nth-child(1)
{
    --defaultBackground:#ED5565;
}
.sitio:nth-child(2), .app:nth-child(2)
{
    --defaultBackground:#FC6E51;
}
.sitio:nth-child(3), .app:nth-child(3)
{
    --defaultBackground:#FFCE54;
}
.sitio:nth-child(4), .app:nth-child(4)
{
    --defaultBackground:#2ECC71;
}
.sitio:nth-child(5), .app:nth-child(5)
{
    --defaultBackground:#5D9CEC;
}
.sitio:nth-child(6), .app:nth-child(6)
{
    --defaultBackground:#AC92EC;
}

.active
{
    flex-grow: 10000;
    max-width: 600px;
    margin: 0px;
    border-radius: 40px;
    background-size: auto 100%;
}

.active .shadow 
{
    box-shadow: inset 0 -120px 120px -120px black, inset 0 -120px 120px -100px black;
}

.active .label 
{
    bottom: 20px;
    left: 20px;
}

.active .label .info > div 
{
    left: 0px;
    opacity: 1;
}

.sitio:not(.active), .app:not(.active) 
{
    flex-grow: 1;
    border-radius: 30px;
}

.sitio:not(.active) .shadow, .app:not(.active) .shadow 
{
    bottom: -40px;
    box-shadow: inset 0 -120px 0px -120px black, inset 0 -120px 0px -100px black;
}

.sitio:not(.active) .label, .app:not(.active) .label 
{
    bottom: 10px;
    left: 10px;
}

.sitio:not(.active) .label .info > div, .app:not(.active) .label .info > div 
{
    left: 20px;
    opacity: 0;
}

.sitio .shadow, .app .shadow
{
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 120px;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

.sitio .label, .app .label
{
    display: flex;
    position: absolute;
    right: 0px;
    height: 40px;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

.sitio .label .icon, .app .label .icon
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    max-width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: white;
    color: var(--defaultBackground);
}

.sitio .label .info, .app .label .info
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    color: white;
    white-space: pre;
}

.sitio .label .info > div, .app .label .info > div
{
    position: relative;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95), opacity 0.5s ease-out;
}

.sitio .label .info .main, .app .label .info .main
{
    font-weight: bold;
    font-size: 1.2rem;
}

.sitio .label .info .sub, .app .label .info .sub
{
    transition-delay: 0.1s;
} */

/* contac */

.contenidoContacto
{
    width: 60%;
    margin-left: 20%;
    display: grid;
    grid-template-columns: 30% 60%;
    gap: 12%;
    align-items: center;
}

.contactoOpciones
{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.contactoOpcion
{
    backdrop-filter: blur(15px);
    background: rgba(255, 255, 255, 0.25);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transicion);
}

.contactoOpcion:hover
{
    backdrop-filter: blur(15px);
    background: rgb(0 0 0 / 25%);
    border-color: var(--color-primario-variante);
}

.contactoOpcion-icon
{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.contactoOpcion a
{
    text-decoration: none;
    color: #162a43;
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 0.8rem;
}

form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

form label{
    position: relative;
}

form label span{
    position: absolute;
    left: 2.5rem;
    top: -0.8rem;
    backdrop-filter: blur(15px);
    background: rgba(255, 255, 255, 0.25);
    padding: 0 1rem;
    border-radius: 2rem;
}

form label input, form label textarea{
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: none;
    border: 2px solid #162a43;
    color: #162a43;
    outline: none;
}

form label input:hover, form label textarea:hover{
    box-shadow: 0 0 2rem 0.5rem rgb(0 0 0 / 35%);
}

/* boton contactar */

.btn
{
    background: #fff;
    text-decoration: none;
    padding: 15px 15px;
    color: #162a43;
    border-radius: 0 40px 0 40px;
}
   
.btn:hover
{
    background: #162a43;
    color: #fff;
}

.btnD
{
    border: solid 1px;
    text-decoration: none;
    padding: 15px 15px;
    border-radius: 40px 0 40px 0;
    color: #fff;
}

.btnD:hover
{
    background: #162a43;
    color: #fff;
}
   
.btnC
{
    width: 40%;
    backdrop-filter: blur(15px);
    background: rgba(255, 255, 255, 0.25);
    padding: 15px 15px;
    border-radius: 0 40px 0 40px;
    color: black;
    border: transparent;
}

.btnC:hover
{
    backdrop-filter: blur(15px);
    background: rgb(0 0 0 / 25%);
    color: #162a43;
    border: 1px;
    box-shadow: 0 0 2rem 0.5rem rgb(0 0 0 / 35%);
}
