
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

body
{
    background-image: linear-gradient(to right top, #6f6bd1, #6d74d7, #6c7edc, #6b86e0, #6c8fe4, #5a99e9, #49a2eb, #38aaec, #00b4e7, #00bcdd, #02c3d0, #40c9c1);
}

hgroup
{
    justify-content: center;
}

header
{
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

header.bajar
{
    backdrop-filter: blur(15px);
    position: sticky;
    top:0;
    background: rgb(0 0 0 / 25%);
    padding: 10px 20px;
    z-index: 10;
}

section
{
    padding: 90px 0 40px 0;
    margin: 20px 0 30px 0;
}

hgroup
{
    text-align: center;
    margin: 10px 0 30px 0;
}

.home
{
    padding-top: 40px;
}

footer
{
    width: 60%;
    height: 200px;
    display: grid;
    justify-items: center;
    margin: 40px 20% 30px 20%;
}

.TF
{
    padding: 30px;
}

footer .Fimg
{
    height: 120px;
}

header .ImgLogo
{
    height: 60px;
}


header ul
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li
{
    list-style: none;
    margin-left: 20px;
}

header ul li a
{
    background: #fff;
    text-decoration: none;
    padding: 6px 15px;
    color: #162a43;
    border-radius: 20px;
}

header ul li a:hover
{
    background: #162a43;
    color: #fff;
}


/* home */

.contenidoYo
{
    text-align: center;
    width: 70%;
    margin: 10px 15% 0 15%;
}

.cta
{
    margin: 10px 0 25px 0;
}

.yo
{
    margin: 10px;
    background-image: linear-gradient(to top, #f072ba, #db7cca, #c385d5, #aa8edb, #9394db, #829fe4, #71aae9, #62b4ea, #4dc7f4, #3fd9f8, #45ebf7, #5ffbf1);
    border-radius: 50% 50% 50% 50% / 30% 30% 70% 70%;
    border: solid 2px #162a43;
}

.yo:hover
{
    box-shadow: 0 0 2rem 0.5rem rgb(0 0 0 / 35%);
}

@media screen and (max-width:800px)
{
    .yo{
        width: -webkit-fill-available;
    }
}

/* presentacion */

.contenedorSobreMi
{
    width: 70%;
    margin-left: 15%;
    align-content: center;
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;
}

.sobreMi
{
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    background-image: linear-gradient(to top, #f072ba, #db7cca, #c385d5, #aa8edb, #9394db, #829fe4, #71aae9, #62b4ea, #4dc7f4, #3fd9f8, #45ebf7, #5ffbf1);
    border-radius: 50% 50% 50% 50% / 70% 70% 30% 30%;
    display: grid;
}

.sobreMi-image
{
    width: -webkit-fill-available;
    border-radius: 50% 50% 50% 50% / 70% 70% 30% 30%;
    overflow: hidden;
    border: solid 2px #162a43;
}

.abajo
{
    width: -webkit-fill-available;
    border-radius: 50% 50% 50% 50% / 70% 70% 30% 30%;
    overflow: hidden;
    border: solid 2px #162a43;
    display: none;
}

.sobreMi:hover
{
    background-image: linear-gradient(to top, #40a872, #3eac7e, #3db18a, #3db595, #40b9a0, #4abfa6, #53c5ad, #5ccbb3, #6bd4b6, #7bdeb9, #8ae7bc, #9af0bf);
}

.sobreMi:hover .sobreMi-image
{
    display: none;
}

.sobreMi:hover .abajo
{
    display: block;
    box-shadow: 0 0 2rem 0.5rem rgb(0 0 0 / 35%);
}

.sobreMiCartas
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.sobreCartas
{
    backdrop-filter: blur(15px);
    background: rgba(255, 255, 255, 0.25);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 1rem;
    text-align: center;
    display: grid;
    place-items: center;
}

.sobreCartas:hover
{
    backdrop-filter: blur(15px);
    background: rgb(0 0 0 / 25%);
    cursor: default;
}

.icon
{
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.sobreCartas h4
{
    font-size: 0.95rem;
}

.sobreCartas small
{
    font-size: 0.7rem;
    color: var(--color-ligero);
}

.sobreMiContenido p
{
    margin: 2rem 0 2.6rem;
    text-align: justify;
}

@media screen and (max-width:1024px)
{
    .contenedorSobreMi{
        grid-template-columns: 1fr;
        gap: 0;
    }
    
    .sobreMi{
        width: 50%;
        margin: 2rem auto 4rem;
    }

    .sobreMiContenido p{
        margin: 1rem 0 1.5rem;
    }
}

@media screen and (max-width:600px)
{
    .contenedorSobreMi{
        width: 80%;
        margin: 0 10%;
    }

    p{
        padding: 10px 0 30px 0;
    }

    .sobreMi{
        width: 65%;
        margin: 0 auto 3rem;
    }

    .sobreMiCartas{
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
    }

    .sobreCartas{
        width: 130px;
    }

    .sobreMiContenido{
        text-align: center;
    }
    .btn{
        margin-left: 0;
    }
    
    .sobreMiContenido p{
        margin: 1.5rem 0;
    }
}

/* skill */

.conteiner
{
    width: 70%;
    margin-left: 15%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    justify-content: center;
}

.conteiner > div
{
    backdrop-filter: blur(15px);
    background: rgba(255, 255, 255, 0.25);
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transicion);
}

.conteiner > div:hover
{
    backdrop-filter: blur(15px);
    background: rgb(0 0 0 / 25%);
    border-color: var(--color-primario-variante);
}

.conteiner > div h3
{
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-primario);
}

.contenido
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
}

.detalles
{
    display: flex;
    gap: 1rem;
}

.icon
{
    margin-top: 6px;
    color: var(--color-primario);
}

.detalles small
{
    margin-left: 0.5rem;
}

progress
{
    width: 4.5rem;
}

@media screen and (max-width:1024px) {
    .conteiner{
        grid-template-columns: 1fr;
    }

    .conteiner > div{
        width: 80%;
        padding: 2rem;
        margin: 0 auto;
    }

    .contenido{
        padding: 1rem;
        place-items: center;
    }
}

@media screen and (max-width:600px) {
    .conteiner{
        gap: 1.5rem;
    }

    .conteiner > div{
        width: 100%;
        padding: 2rem 1rem;
    }

    .detalles div{
        position: relative;
    }

    .detalles div small{
        position: absolute;
        bottom: 0;
        left: -2.5rem;
    }
}

/* proyect */

.apps
{
    display: flex;
    width: 70%;
    margin: 0 15% 0 15%;
    flex-direction: column;
}

.sitiosWeb, .desktop
{
    border: none;
    border-radius: 20px;
    margin: 20px 0 10px 0;
    padding: 10px 0 10px 0;
    backdrop-filter: blur(15px);
    background: rgb(255 255 255 / 25%);
    transition: all 800ms;
}

.sitiosWeb h2, .desktop h2
{    
    padding: 0 0 0 30px;
}

.webs, .desk
{
    display: flex;
    gap: 0.2rem;
    margin: 10px;
    justify-content: center;
}

.sitio, .app
{
    display: flex;
    width: 70px;
    height: 450px;
    border: solid 2px #162a43;
    border-radius: 35px;
    overflow: hidden;
    flex-direction: column-reverse;
    align-items: center;
    padding: 0 10px 15px 10px;
    cursor: pointer;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

.icono
{
    background: #fff;
    border-radius: 25px;
    width: 50px;
    height: 50px;
    z-index: 4;
    transform: rotate(-90deg);
}

.sitio.active, .app.active
{
    display: grid;
    width: 800px;
    padding: 0 10px 15px 10px;
    grid-template-columns: 10% 90%;
    align-items: end;
    color: #fff;
}

.sitio .info, .app .info
{
    padding: 0 0 10px 0;
    border-radius: 25px;
    color: white;
    width: auto;
}

.site, .api{
    justify-items: center;
    align-content: center;
}

.sitio .info h2, .app .info h2
{
    text-shadow: -2px 0 white, 1px 0 white, 0 1px white, 0 -1px white;
    color: black;
    transform: rotate(-90deg);
    padding-left: 50% !important;
}

.sitio .info h3, .app .info h3
{
    display: none;
}

.sitio .info span, .app .info span
{
    display: none;
}

.sitio.active .info, .app.active .info
{
    padding: 5px 20px;
    backdrop-filter: blur(15px);
    background: rgb(0 0 0 / 25%);
    opacity: 100;
    transform: translate(0px);
    width: max-content;
    max-width: -webkit-fill-available;
}

.sitio.active .icono, .app.active .icono
{
    transform: rotate(0deg);
}

.sitio.active .info h3, .app.active .info h3
{
    transform: translate(0px);
    padding: 0;
    display: block;
}

.sitio.active .info h3 a, .app.active .info h3 a
{
    text-decoration: none;
    color: white;
}

.sitio.active .info h2, .app.active .info h2
{
    transform: translate(0px);
    padding: 0;
    display: none;
}

.sitio.active .info span, .app.active .info span
{
    display: inline;
}

@media screen and (max-width:600px){
    .apps{
        width: 98%;
        margin: 0 1%;
    }

    .webs, .desk{
        width: 98%;
        margin: 10px 1% 0 1%;
    }

    .sitio, .app{
        height: 300px;
    }

    .sitio.active, .app.active{
        justify-items: center;
        align-content: center;
        align-items: center;
    }

    .icono{
        width: 30px;
        height: 30px;
    }

    .sitio.active .info, .app.active .info
    {
        width: auto;
    }

    .sitio .info h2, .app .info h2
    {
        font-size: small;
    }

    .sitio.active .info h3, .app.active .info h3
    {
        font-size: 1.17em;
    }

}

/* contac */

.contenidoContacto
{
    width: 60%;
    margin-left: 20%;
    display: grid;
    grid-template-columns: 30% 60%;
    gap: 12%;
    align-items: center;
}

.contactoOpciones
{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.contactoOpcion
{
    backdrop-filter: blur(15px);
    background: rgba(255, 255, 255, 0.25);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transicion);
}

.contactoOpcion:hover
{
    backdrop-filter: blur(15px);
    background: rgb(0 0 0 / 25%);
    border-color: var(--color-primario-variante);
}

.contactoOpcion-icon
{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.contactoOpcion a
{
    text-decoration: none;
    color: #162a43;
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 0.8rem;
}

.contactoOpcion a:hover
{
    background: rgb(255 255 255 / 30%);
    box-shadow: 0 0 2rem 0.5rem rgb(255 255 255 / 55%);
    border-radius: 15px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

form label{
    position: relative;
}

form label span{
    position: absolute;
    left: 2.5rem;
    top: -0.8rem;
    backdrop-filter: blur(15px);
    background: rgba(255, 255, 255, 0.25);
    padding: 0 1rem;
    border-radius: 2rem;
}

form label input, form label textarea{
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: none;
    border: 2px solid #162a43;
    color: #162a43;
    outline: none;
}

form label input:hover, form label textarea:hover{
    box-shadow: 0 0 2rem 0.5rem rgb(0 0 0 / 35%);
}

@media screen and (max-width:1024px){
    .contenidoContacto{
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}

@media screen and (max-width:600px){
    .contenidoContacto{
        width: 80%;
        margin: 0 10% 0 10%;
    }

    footer{
        width: 80%;
        margin: 0 10% 20px 10%;
    }
}

/* boton contactar */

.btn
{
    background: #fff;
    text-decoration: none;
    padding: 15px 10px;
    color: #162a43;
    border-radius: 0 40px 0 40px;
}
   
.btn:hover
{
    background: #162a43;
    color: #fff;
}

.btnD
{
    border: solid 1px;
    text-decoration: none;
    padding: 15px 10px;
    border-radius: 40px 0 40px 0;
    color: #fff;
}

.btnD:hover
{
    background: #162a43;
    color: #fff;
}
   
.btnC
{
    width: 50%;
    backdrop-filter: blur(15px);
    background: rgba(255, 255, 255, 0.25);
    padding: 15px 15px;
    border-radius: 0 40px 0 40px;
    color: black;
    border: transparent;
}

.btnC:hover
{
    backdrop-filter: blur(15px);
    background: rgb(0 0 0 / 25%);
    color: #162a43;
    border: 1px;
    box-shadow: 0 0 2rem 0.5rem rgb(0 0 0 / 35%);
}

/* menu de hamburguesa */

.menuIcon
{
    display: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.menuIcon span
{
    display: block;
    width: 90%;
    background: #162a43;
    height: 2px;
    margin: 6px 5% 0 5%;
    transition: all 300ms;
    transform-origin: 1.5px 100%;
    box-shadow: 0 0 2rem 0.5rem rgb(255 255 255 / 35%);
}

.activeline1
{
    transform: rotate(45deg) translate(-2px, 1px);
}

.activeline2
{
    opacity: 0;
    transform: translate(-20px);
}

.activeline3
{
    transform: rotate(-45deg) translate(-1px, 0px);
}

@media screen and (max-width:980px){
    .menu ul{
        display: none;
    }

    .menuIcon{
        display: block;
    }

    .activemenu ul
    {
        position: absolute;
        top: 84px;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        opacity: 100;
    }

    
    .activemenu ul li
    {
        transform: translate(-20px);
        margin: 15px;
        box-shadow: 0 0 2rem 0.5rem rgb(0 0 0 / 55%);
    }
}
